/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
  margin: 1em;

}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
  margin: 1em;
}

h1 {
  font-size: 48px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.col {
  list-style-type: none;
  border: dashed black;
  background-color: #dddddd;
  padding: 10px;
}

.image {
  height: 180px;
}
