.centered {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

p.centered {
  font-size: 1.5rem;
}

h1, p, div, h2 {
  background: grey;
  margin: 0;
}

li {
  list-style-type: none;
}

.monospaced {
  text-decoration: underline;
  font-family: monospace;
}

